<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PluginId</key>
    <string>44</string>
	<key>PluginVersion</key>
	<string>0.0.1</string>
	<key>ServerApiVersion</key>
	<string>3.0</string>
	<key>CFBundleDisplayName</key>
	<string>JeemzSolarEdgePlugin</string>
	<key>CFBundleIdentifier</key>
	<string>jeemzsolaredge</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
            <!-- TODO: Change this to ngnix when deployment is done -->
			<key>CFBundleURLName</key>
			<string>https://github.com/Jeemz-Domotica/indigo-solaredge-plugin</string>
		</dict>
	</array>
</dict>
</plist>